main {
  background-image: url(assets/rainbow-liquid.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 920px 100%; 
  image-rendering: pixelated; 
  /* border: 1px solid; */
  max-width: 920px;
  box-shadow:
    inset 0 0 25px 50px #1d2021,
    inset 0 0 0 10px #1d2021;
  /* padding: 10px; */
  margin: auto;
}

header {
  margin-top: 20px;
}

.main-content {
  /* Making eyes part transparent */
  background-color: rgba(0, 0, 0, 0);
  box-shadow:
    inset 0  110px 0 80px #1d2021,
    inset 0 -130px 0 80px #1d2021,
    0 0 50px 100px #1d2021;
    
  /* border: 1px solid; */
  width: 300px;
  padding: 10px;
  margin: auto;
}

.pfp {
  display: block;
  margin: auto;
  image-rendering: high-quality !important;
}
