@import url('https://fonts.googleapis.com/css?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@font-face {
  src: url(assets/ProggyCleanTT.ttf);
  font-family: 'ProggyCleanTT';
}
@font-face {
  src: url(assets/ProggyVector.ttf);
  font-family: 'ProggyVector';
}

body, html {
  height: 100%;
  color: white;
  background-color: black;
  margin: 0;
}
h1 {
  font-size: 96px;
  position: relative;
  text-align: center;
  top: 10px;
  margin-bottom: 0px;
  z-index: 2;
}
.pfp {
  display: block;
  margin: auto;
  position: relative;
  z-index: 2;
}
.-inf {
  font-size: 96px;
  font-family: 'ProggyCleanTT';
  color: black;
  text-shadow:
  -1px -1px 0 white,
   1px -1px 0 white,
  -1px  1px 0 white,
   1px  1px 0 white;
  /* -webkit-text-stroke: 0.1px rgb(255, 255, 255); */
  position: relative;
  text-align: center;
  margin-top: -180px;
  left: -10px;
  z-index: 3;
}
h4 {
  font-size: 20px;
  font-family: 'Alumni Sans Pinstripe';
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-align: center;
  margin-top: 130px;
  z-index: 2;
}

/*********************************************************/
/* Top panel *********************************************/
/*********************************************************/
.top-panel {
  width: 100%;
  position: fixed;
  display: block;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  margin-bottom: -100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.language-switcher {
  display: inline-block;
  left: 0px;
  right: 0px;
}
.blank {
  margin: -15px;
}
.line {
  height: 1px;
  width: 36px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  display: inline-table;
  z-index: 1;
}
.language-button {
  font-size: 16px;
  font-family: 'ProggyVector';
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}
.language-button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.language-button:active {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0.5),
  1px 1px 0 rgba(255, 255, 255, 0.5);
}
.top-panel-links
{
  display: inline-block;
}
.top-panel-link {
  font-size: 52px;
  font-family: 'ProggyVector';
  display: inline-block;
  margin: 0px 5px;
}
#ru {
  display: inline-block;
  margin-top: 10px;
}

/*********************************************************/
/* Background stuff **************************************/
/*********************************************************/
/* .background-gif {
  height: 100%;
  width: 100%;
  background-size: cover;
  image-rendering: pixelated;
  position: fixed;
  display: block;
  top: -5px;
  margin-bottom: -50%;
  z-index: 0;
} */
.square {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
}
#square {
  width: 900px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 100px 150px rgba(0, 0, 0, 0.85);
  position: relative;
  top: 20px;
}
#numbers-bg {
  height: 100vh;
  position: absolute;
  top: -25px;
}
#numbers {
  font-size: 16px;
  font-family: 'ProggyCleanTT';
  background-image: url('assets/rainbow-liquid3.gif');
  color: transparent;
  image-rendering: pixelated;
  background-size: cover;
  background-clip: text;
  display: block;
  position: relative;
  line-break: anywhere;
  top: 10px;
  z-index: 0;
}